// Define color variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f2f2f2;
$font-color: #333;
$border-color: green;

// General styles
$border-radius: 5px;
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
$transition-speed: 0.3s;

// Container styles
.container {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

// Form styles
.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: $border-radius;
    transition: border-color $transition-speed ease;
    background-color: #fff; // Ensure consistent background color

    &:focus {
      outline: none;
      border-color: $border-color;
    }
  }
}

// Button styles
.btn {
  display: inline-block;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    background-color: darken(#2196f3, 10%);
  }
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: black;
}

.dark-button {
  background-color: #2196f3;
  opacity: 0.5;
  pointer-events: none;
}