.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: black;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: darken($color: #2196f3, $amount: 10%);
  }

  .table-container{
    margin:0 auto;
    width: 70%;
    margin-top: 5px;
  }

  table{
    border: 2px solid #3498db;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th{
    background-color: #3498db;
    color: white;
    border: 2px solid black;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}


tr:nth-child(even){
    background-color: white;
}

td{
    width: 50%;
    border: 2px solid black;
    padding: 12px;
    
}
