

<form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
    <h1>Add Customer</h1>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" placeholder="Enter your first name" id="firstName" name="firstName" formControlName="firstName">
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['firstName'].invalid && (addCustomerForm.controls?.['firstName'].touched || addCustomerForm.controls?.['firstName'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['firstName'].errors?.['required']">This is required. </span>  
                <span *ngIf="addCustomerForm.controls?.['firstName'].errors?.['minlength']">Minimum length must be 2 characters. </span>   
                <span *ngIf="addCustomerForm.controls?.['firstName'].errors?.['maxlength']">Maximmum length must be 500 characters. </span> 
                <span *ngIf="addCustomerForm.get('firstName').errors.numSym">First Name should not contain any numbers or symbols.</span>  
            </div>
        </div>
       
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" placeholder="Enter your last name" id="lastName" name="lastName" formControlName="lastName">
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['lastName'].invalid && (addCustomerForm.controls?.['lastName'].touched || addCustomerForm.controls?.['lastName'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['lastName'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.controls?.['lastName'].errors?.['maxlength']">Maximmum length must be 500 characters </span>  
                <span *ngIf="addCustomerForm.get('lastName').errors.numSym">Last Name should not contain any numbers or symbols.</span> 
            </div>
        </div>

        <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" name="date_of_birth" id="dateOfBirth" value="" placeholder="dd-mm-yyyy" formControlName="dateOfBirth" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['dateOfBirth'].invalid && (addCustomerForm.controls?.['dateOfBirth'].touched || addCustomerForm.controls?.['dateOfBirth'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['dateOfBirth'].errors?.['required']">This is required </span>        
            </div>
        </div>
   
  
        <div>
            <label for="gender">Gender:</label>
            <input type="text" name="gender" id="gender" placeholder="Enter your gender" formControlName="gender" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['gender'].invalid && (addCustomerForm.controls?.['gender'].touched || addCustomerForm.controls?.['gender'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['gender'].errors?.['required']">This is required. </span>     
                <span *ngIf="addCustomerForm.get('gender').errors.notValid">Gender should be either male or female </span>   
            </div>
        </div>

        <div>
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" placeholder="Address" formControlName="address">
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['address'].invalid && (addCustomerForm.controls?.['address'].touched || addCustomerForm.controls?.['address'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['address'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('address').errors?.['maxlength']"> Maximmum length must be 500 characters</span>   
            </div>
        </div>

        <div>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" placeholder="City" formControlName="city" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['city'].invalid && (addCustomerForm.controls?.['city'].touched || addCustomerForm.controls?.['city'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['city'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('city').errors?.['maxlength']"> Maximmum length must be 200 characters</span> 
                <span *ngIf="addCustomerForm.get('city').errors.numSym">City should not contain any numbers or symbols.</span>  
            </div>
        </div>
    
   
        <div>
            <label for="state">State:</label>
            <input type="text" name="state" id="state" placeholder="State" formControlName="state">
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['state'].invalid && (addCustomerForm.controls?.['state'].touched || addCustomerForm.controls?.['state'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['state'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('state').errors?.['maxlength']"> Maximmum length must be 200 characters</span> 
                <span *ngIf="addCustomerForm.get('state').errors.numSym">State should not contain any numbers or symbols.</span>  
            </div>
        </div>

        <div>
            <label for="country">Country:</label>
            <input type="text" name="country" id="country" placeholder="Country" formControlName="country">
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['country'].invalid && (addCustomerForm.controls?.['country'].touched || addCustomerForm.controls?.['country'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['country'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('country').errors?.['maxlength']"> Maximmum length must be 200 characters</span> 
                <span *ngIf="addCustomerForm.get('country').errors.numSym">Country should not contain any numbers or symbols.</span>  
            </div>
        </div>

        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" name="phone_number" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['phoneNumber'].invalid && (addCustomerForm.controls?.['phoneNumber'].touched || addCustomerForm.controls?.['phoneNumber'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['phoneNumber'].errors?.['required']">This is required. </span>     
                <span *ngIf="addCustomerForm.controls?.['phoneNumber'].errors?.['pattern']"> Must be 10 digits</span>   
            </div>
        </div>
   
   
        <div>
            <label for="postalCode">Postal Code:</label>
            <input type="number" name="postalCode" id="postalCode" placeholder="Postal Code" formControlName="postalCode" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['postalCode'].invalid && (addCustomerForm.controls?.['postalCode'].touched || addCustomerForm.controls?.['postalCode'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['postalCode'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('postalCode').errors?.['pattern']"> Must be 6 digits</span>   
            </div>
        </div>

        <div>
            <label for="emailAddress">Email:</label>
            <input type="text" name="emailAddress" id="emailAddress" placeholder="Email" formControlName="emailAddress" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['emailAddress'].invalid && (addCustomerForm.controls?.['emailAddress'].touched || addCustomerForm.controls?.['emailAddress'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['emailAddress'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('emailAddress').errors?.['maxlength']"> Maximmum length must be 50 characters</span>   
            </div>
        </div>

        <div>
            <label for="martitalStatus">Marital Status:</label>
            <input type="text" name="marital_status" id="martitalStatus" placeholder="Marital Status" formControlName="martitalStatus" >
            <div class="text-danger" *ngIf="addCustomerForm.controls?.['martitalStatus'].invalid && (addCustomerForm.controls?.['martitalStatus'].touched || addCustomerForm.controls?.['martitalStatus'].dirty)" >
                <span *ngIf="addCustomerForm.controls?.['martitalStatus'].errors?.['required']">This is required </span>     
                <span *ngIf="addCustomerForm.get('martitalStatus').errors.notValid">Single or Married only</span>   
            </div>
        </div>
   
        <div>
            <button [disabled]="addCustomerForm.invalid" [ngClass]="{'dark-button': addCustomerForm.invalid, 'faded-button': addCustomerForm.invalid}" >Add Customer</button>
        </div>
</form>
