$button-bg-color: #4CAF50;
$button-text-color: #fff;
$button-hover-color: #45a049;
$button-border-radius: 5px;
$button-padding: 10px 20px;
$button-font-size: 16px;
$button-border: none;
$button-cursor: pointer;

.container{
  display: flex;
  justify-content: center;
}

// Button styles
.button {
  display: inline-block;
  padding: $button-padding;
  margin: 10px;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: $button-border;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  cursor: $button-cursor;
  

  &:hover {
    background-color: #2196f3;
  }
}

.highlight{
  background-color: #2196f3;
}
