<div class="container">
    <button class="button" routerLinkActive="highlight" routerLink="./show-accounts">Show Accounts</button>
    <button class="button" routerLinkActive="highlight" routerLink="./get-account-by-account-number" >Get Account By Account Number</button>
    <button class="button" routerLinkActive="highlight" routerLink="./add-account" >Add Account</button>
    <button class="button" routerLinkActive="highlight" routerLink="./deposit-money" >Deposit Money</button>
    <button class="button" routerLinkActive="highlight" routerLink="./withdraw-money" >Withdraw Money</button>
</div>
<router-outlet></router-outlet>