
<div class="container">
  <h1>Withdraw Money</h1>
    <div class="form-group">
      <label for="accountNumber">Account Number</label>
      <input type="text" id="accountNumber" name="accountNumber" placeholder="Enter account number"[(ngModel)]= "acc_number">
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount" placeholder="Enter amount"[(ngModel)]= "amount">
    </div>
    <div class="form-group">
        <input type="submit" class="btn" value="Submit" (click)="withdrawMoney()" >
    </div>
</div>