table{
    border: 2px solid #3498db;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th{
    background-color: #3498db;
    color: white;
    border: 2px solid black;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}


tr:nth-child(even){
    background-color: white;
}

td{
    border: 2px solid black;
    padding: 12px;
}


















